
venv
.vscode
launch.json

*.pyc
*.pyo

.project
.pydevproject

toolbox_data/parsers/*.xlsx
plankton_toolbox_log.txt
*plankton_toolbox_data*
*plankton_toolbox_counter*

.*~

.settings/*

plankton_toolbox_data/*
plankton_toolbox_counter/*
DEMO/*

build/*
dist/*
